.game {
  display: flex;
  flex-direction: column;
  align-items: center;

  vertical-align: center;
  height: 100%;
}

.board {
  justify-self: center;

  display: flex;
  flex-direction: column;
}

.boardRow {
  display: flex;
  flex-direction: row;
}


.snakeCell {
  height: 20px;
  width: 20px;
  background-color: orange;
}

.boardCell {
  height: 20px;
  width: 20px;
  background-color: aliceblue;
}

#root {
  height: 100%;
}

body {
  height: 100%;
}

html {
  height: 100%;
}