.game {
  display: flex;
  flex-direction: column;
  align-items: center;

  vertical-align: center;
  height: 100%;
}

.board {
  justify-self: center;

  display: flex;
  flex-direction: column;
}

.boardRow {
  display: flex;
  flex-direction: row;
}

.foodCell {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 2px;
}


.snakeCell {
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 2px;
}

.headCell {
  height: 10px;
  width: 10px;
  background-color:orangered;
  border-radius: 2px;
}

.boardCell {
  height: 10px;
  width: 10px;
  background-color: aliceblue;
}

#root {
  height: 100%;
}

body {
  height: 100%;
}

html {
  height: 100%;
}